   *{
    margin: 0;
    padding: 0;
    }
    body{
        /* background: rgb(62,57,153); */
        /* background: radial-gradient(circle, rgba(62,57,153,1) 0%, rgba(110,110,163,1) 35%, rgba(63,195,222,1) 100%); */
        /* background: linear-gradient(45deg, rgba(100,57,153,1) 0%, rgba(78,81,144,1) 39%, rgba(63,222,180,1) 100%); */
        background: linear-gradient(90deg, rgba(100,57,153,1) 0%, rgba(78,81,144,1) 25%, rgba(63,222,180,1) 100%);
    }
    .container{ 
        /* z-index: -1; */
        /* position: absolute; */
        /* display: flex; */
       
        height: 20%;
        width: 30%; 
        margin: auto;
        margin-top: 10%;
        justify-content: center;
    }
    
    .container h1{
        font-family: 'Heebo', sans-serif;
        color: white; 
        width: 50%;
        display: inline-block;
        font-size: 40px;
        border-bottom: 5px solid purple;
        margin-bottom: 15px;
        padding: 13px 0;
    }
    .text-set{
        font-family: 'Roboto', sans-serif; 
        font-size: 0.8em;
        /* font-weight: 300; */
        color: white; 
        opacity: 0.7;
        
    }
    .usertype{
        
    }
    .text-set a{
        text-decoration: none;
    }
    a:hover{
        color: rgb(240, 183, 166);
    }
    .text-black{
        color: black;
    }
    .type4{
        margin-left: 5px;
        margin-right: 16px;
        margin-bottom: 10px;
    }
    .utype{
        font-family: 'Roboto', sans-serif; 
        font-size: 0.8em;
        /* font-weight: 300; */
        color: white; 
        opacity: 0.7;
    }
    #radio1,#radio2{
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .box{
        width: 100%; 
        margin: 22px 0px;
        border-bottom: 2px solid purple;
    }
    .box input{  
        background: none;
        width: 75%;
        padding: 5px 10px;
        font-size: 20px;
        border: none;
        outline:none;
        color: white;
    }
    .box input::placeholder{
        color: white;
        opacity: .5;
    }
    .btn{
        color: white;
        cursor: pointer;
        outline: none; 
        margin: 12px 0;
        padding: 10px 21px;
        border: 2px solid purple;
        border-radius: 10px;
        font-size: 18px;
        background: none;
        font-weight: bold;
        
    }
    .box i{ 
        width: 25px; 
        text-align: center;
    }
    .btn:hover{
        opacity: 0.5;
        color: purple; 
        background: white; 
        
    }